<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxk175.core.module.dao.notify.NotifyChannelUserDao">

    <select id="listNotifyChannelUser" resultType="java.util.Map"
            parameterType="com.zxk175.core.common.bean.param.notify.NotifyChannelUserListParam">
        SELECT
            ncu.user_id AS userId,
            nc.channel_id AS channelId ,
            nc.channel_name AS channelName,
            ncu.full_name AS fullName,
            ncu.open_id AS openId,
            ncu.create_time AS createTime,
            ncu.update_time AS updateTime,
            ncu.state
        FROM
            t_notify_channel_user AS ncu
            LEFT JOIN t_notify_channel AS nc ON ncu.channel_id = nc.channel_id
        ORDER BY
            ncu.create_time DESC
        LIMIT #{page}, #{size}
    </select>

    <select id="countNotifyChannelUser" resultType="java.lang.Long"
            parameterType="com.zxk175.core.common.bean.param.notify.NotifyChannelUserListParam">
        SELECT
            COUNT(ncu.user_id)
        FROM
            t_notify_channel_user AS ncu
    </select>
</mapper>
