<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxk175.notify.module.dao.notify.NotifyChannelUserDao">

    <select id="listNotifyChannelUser" resultType="java.util.Map">
        SELECT
            ncu.id AS userId,
            ncu.user_name AS userName,
            ncu.channel_id AS channelId,
            ncu.channel_name AS channelName,
            ncu.open_id AS openId,
            ncu.create_time AS createTime,
            ncu.update_time AS updateTime,
            ncu.state
        FROM
            t_notify_channel_user AS ncu
        <where>
            <if test="channelId != null and channelId > 0">
                AND ncu.channel_id = #{channelId}
            </if>
        </where>
        ORDER BY
            ncu.create_time DESC
        LIMIT #{page}, #{size}
    </select>

    <select id="countNotifyChannelUser" resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            t_notify_channel_user AS ncu
        <where>
            <if test="channelId != null and channelId > 0">
                AND ncu.channel_id = #{channelId}
            </if>
        </where>
    </select>

</mapper>
